<nav class="UnderlineNav UnderlineNav--right">
  <div class="UnderlineNav-body" role="tablist">
    <button class="UnderlineNav-item" role="tab" type="button" aria-selected="true">Home</button>
    <button class="UnderlineNav-item" role="tab" type="button">About</button>
    <button class="UnderlineNav-item" role="tab" type="button">Blog</button>
    <button class="UnderlineNav-item" role="tab" type="button">Contact</button>
  </div>
</nav>
