<div class="jp-Welcome">
  <div class="jp-Welcome-container">
    <h1><span class="jp-Welcome-greeting"><%= t(".greeting_html") %></span></h1>
    <p><span class="jp-Welcome-about"><%= t(".about") %></span></p>
  </div>
</div>
