// Colors
$jp-primary-blue: #214994;
$jp-primary-green: #90B541;
$jp-primary-orange: #F73E41;
$jp-secondary-blue: #2D65CC;
$jp-secondary-green: #B9D67A;

// Sizing
$jp-container-width: 75rem;
$jp-navbar-height: 3rem;

// Spacing
$jp-main-margin: 12.5rem;
